#wraper {
	width: 400px;
	height: 350px;
	margin: 0 auto;
	left: -300px;
    position: relative;
    transform: translateX(230px) translateY(-350px)
	/*border: 2px solid black;*/
}

.stand {
	width: 10px;
	height: 13px;
	position: absolute;
	background-color: #BCBEC0;
	top: 279px;
}

#stand1 {
	left: 251px;
}
#stand2 {
	left: 321px;
}

#band {
	width: 100px;
	height: 13px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	position: absolute;
	background-color: #58595B;
	top: 266px;
	left: 241px;
}

.wheel {
	width: 12px;
	height: 12px;
	border-radius: 12px;
	background-color: #414042;
	position: absolute;
	/*-webkit-animation: goWheels 0.5s linear infinite normal;*/
}

.wheel:after {
	content: "";
	display: block;
	width: 12px;
	height: 2px;
	background-color: #F5F19A;
	position: absolute;
	top: 5px;
}


#wheel1 {
	left: 5px;
	-webkit-animation: goWheels 0.5s 0.1s linear infinite normal;
}
#wheel2 {
	left: 31px;
	-webkit-animation: goWheels 0.5s 0.2s linear infinite normal;
}
#wheel3 {
	left: 56px;
	-webkit-animation: goWheels 0.5s 0.3s linear infinite normal;
}
#wheel4 {
	left: 79px;
	-webkit-animation: goWheels 0.5s 0.4s linear infinite normal;
}